@import "../partials/main";

.button {
    @extend %border-background;

    align-items: center;
    box-sizing: border-box;
    background: $dark-white !important;
    cursor: pointer;
    display: inline-flex;
    font-size: 2rem !important;
    height: 150px;
    justify-content: space-between;
    margin: 10px;
    padding: 0 50px;
    width: 500px;

    &:hover {
        background: $dark-white-hover !important;

        .button__arrow {
            color: $secondary;
        }
    }

    &.button--back {
        justify-content: start !important;
    }

    &.button--center {
        @include center;
    }

    &.button--small-font {
        font-size: 1.5rem !important;
    }

    .button__arrow {
        color: $black;
        font-size: 3rem !important;
    }
}
