@import "mixins";

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
   font-size: 16px;
}

@include mobile-only {
   :root {
      font-size: 12px;
   }
}

* {
   font-family: 'Open Sans', sans-serif;
}

%border-background {
   background: $white;
   border: none;
   border-left: 7px solid $secondary;
}

%remove-default-button {
   border: none;

   &:focus {
      outline: none;
   }
}

.bread-crumbs {
   // @extend %border-background;
   @include center;

   @include mobile-only {
      display: none;
   }

   align-items: center;
   background: $main;
   box-sizing: border-box;
   display: flex;
   height: 100px;
   justify-content: space-between;
   margin-top: 10px;
   width: 90%;
   position: sticky;
   top: 0;

   .bread-crumbs__crumb {
      @extend %remove-default-button;

      align-items: center;
      background: $white;
      cursor: pointer;
      display: flex;
      font-size: 1rem;
      height: 50px;
      justify-content: center;
      position: relative;
      margin: 0 20px;
      width: 100%;

      &::before {
         content: "";
         position: absolute;
         right: -25px;
         bottom: 0;
         width: 0;
         height: 0;
         border-left: 25px solid $white;
         border-top: 25px solid transparent;
         border-bottom: 25px solid transparent;
      }

      &::after {
         content: "";
         position: absolute;
         left: 0;
         bottom: 0;
         width: 0;
         height: 0;
         border-left: 25px solid $main;
         border-top: 25px solid transparent;
         border-bottom: 25px solid transparent;
      }

      &.bread-crumbs--active, &:hover {
         background: $secondary;

         &::before {
            border-left-color: $secondary;
         }
      }
   }
}

.form {
   font-size: 1.3rem;
   width: 100%;

   .form__input-container {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      margin: 30px 0;
      width: 100%;

      &:first-of-type {
         margin-top: 10px;
      }

      .form__label {
         box-sizing: border-box;
         height: 50px;
         line-height: 50px;
         padding-left: 20px;
         width: 20%;

         @include mobile-only {
            padding-left: 5px;
            width: 100%;
         }
      }

      .form__input {
         background: #F1F1F1;
         border: none;
         font-size: 1.3rem;
         height: 75px;
         padding-left: 30px;
         flex-grow: 1;

         &:focus {
            outline: none;
            box-shadow: 0 0 15px rgba(black, .2);
         }

         &.form__input--small {
            flex-grow: unset;
            margin: 0 20px;
            width: 150px !important;

            &:first-of-type {
               margin-left: 0;
            }

            @include mobile-only {
               margin-left: 0;
               margin-top: 10px;
            }
         }
      }
   }

   .form__options-container {
      align-items: center;
      display: flex;
      justify-content: space-around;
   }

   .form__submit {
      @extend %border-background;

      background: $dark-white;
      cursor: pointer;
      font-size: 1.5rem;
      height: 75px;
      width: 300px;

      &:hover, &:focus {
         background: $dark-white-hover;
      }
   }
}
