@import "variables";

@mixin center($margin: auto) {
    left: 0;
    margin: $margin;
    right: 0;
}

@mixin mobile-only {
    @media only screen and (max-width: 600px) {
       @content;
    }
}

@mixin not-mobile {
    @media only screen and (min-width: 601px) {
        @content;
    }
}
