@import "partials/main";

#book-appointment {
    @extend %border-background;
    @include center;

    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    padding: 10px;
    width: 90%;

    #mobile-title {
        font-size: 2rem;
        font-weight: bold;
        text-decoration: underline;
        margin: 10px 0;

        @include not-mobile {
            & {
                display: none;
            }
        }
    }

    .overview {
        align-items: start;
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        justify-content: start;
        padding-left: 20px;
        width: 100%;

        .overview__item {
            align-items: center;
            display: flex;
            justify-content: space-between;
            margin: 5px 0;
            width: 100%;

            .overview__item-title {
                display: block;
                font-weight: bold;
                flex-grow: 1;

                @include mobile-only {
                    flex-grow: 0;
                    width: 30%;
                }
            }

            .overview__item-value {
                display: block;
                width: 30%;

                @include mobile-only {
                    width: fit-content;
                }
            }
        }
    }
}
